.form-container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.new-comment-form {
  display: flex;
  align-items: center;
}

.comment-textarea {
  margin-top: 1rem;
  margin-bottom: -0.8rem;
  width: 100%;
  min-height: 1em;
  line-height: 1em;
  box-sizing: border-box;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
  border: 0.5px solid #d9d9d9;
  outline: none;
}

.press-enter-to-post {
  margin-left: 32px;
  margin-top: 4px;
  margin-bottom: -10px;
  border: 0;
  font-size: x-small;
  color: rgb(101, 101, 101);
}

.comment-upload-image-button-container {
  margin-left: 18px;
}