.comment {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: -10px;
  border-top: 1px solid #d9d9d9;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.c-profile-picture-div {
  border: 5px solid #eff9fd;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}

.c-profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.comment-name-timestamp-container {
  display: flex;
  flex-direction: column;
}

.comment-author {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 10px;
  white-space: nowrap;
  margin-top: 9px;
  margin-bottom: 2px;
}

.comment-timestamp {
  font-size: 0.6rem;
  color: gray;
  padding-left: 15px;
  margin-top: 2px;
}

.comment-message {
  font-size: 0.9rem;
  line-height: 1.3;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 8px;
}

.delete-comment-button {
  background-color: #47a0fe; 
  color: #fff; 
  border: none;
  padding: 0.5rem 1rem; 
  margin-left: auto;
  margin-right: 1rem;
  border-radius: 4px;
  font-size: 0.6rem; 
  cursor: pointer; 
  float: right;
}

.comment-image {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}