/* post container */
.post-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #ccc;
  background-color: white;
}

/* card header */
.card-header {
  background: #f7f7f7;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

/* username and timestamp */
.card-meta {
  margin-left: 10px;
}

.name-timestamp {
  display: flex;
}

.profile-picture-div {
  height: 50px;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #eff9fd;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f7f7f7;
  display: flex;
  justify-content: start;
  margin-top: 5px;
  width: 100%;
}

.timestamp {
  font-size: 0.8rem;
  color: gray;
  margin-left: 0rem;
  width: 100%;
}

.message-and-delete-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

/* post message */
.card-message {
  padding: 10px;
  padding-top: 0px;
  padding-left: 35px;
  font-size: 1.0em;
  background: #ffffff;
  margin: 0;
  flex: 1;
}

.delete-action-button {
  background-color: #47a0fe;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 25px;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  width: 142px;
  max-height: 30px;
}

/* post image */
.post-image {
  width: 100%;
  height: auto;
}

.likes-and-comments-buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  margin-bottom: 15px;
  margin-left: 16px;
}

.comment-action-button {
  background-color: #47a0fe;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 25px;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  width: 185px;
}

#comments-container {
  margin-top: -50px;
  background-color: #eff9fd;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 8px;
  border-radius: 8px;
}

.like-container {
  display: flex;
  position: relative;
  width: 100%;
}

.liker-list {
  position: absolute;
  padding: 8px;
  border-radius: 10px;
  bottom: 110%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
}

.like-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 18px;
}

.like-count {
  display: flex;
  align-items: center;
  margin-left: -12px;
  margin-top: 2px;
}

@media (max-width: 600px) {
  .comments-button {
    font-size: 11px;
  }
}

.username-link {
  margin: 0;
  margin-bottom: -15px;
  padding: 0;
  float: left;
}

.card-header {
  display: flex;
}

.profile-picture-div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  float: left;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-timestamp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
